body
{
    /*border:1px dotted yellow;*/
margin:0;
padding:0;
width:100%;
height:100%;
background:darkgreen;}

.container{
/*background:greenyellow;*/
max-width:1366px;
}

.box
{display:flex;
}
.box > div{
  display:flex;
  justify-content:center;
    flex-wrap: wrap;
}

.one
{display: flex;
flex-direction: column;
background:green;
flex-basis:66.66%;
margin: 10px;
}
.number{
    color: yellow;
}
.levelname{
    color: yellow;
    align-content: center;
}
.task{
    color: yellow;
}
.levelimage{
        width:100%;
    }

.two
{background:lightgrey;
flex-basis:33.33%;
margin: 10px;
display: flex;
flex-direction: column;
}

.form-horizontal{
    max-height: 300px;
    padding-top: 5px;
    vertical-align:top;
}

 @media screen and (device-width: 1024px) {
    .container{
    max-width:480px;
}
    .levelimage{
        max-width: 300px;
    }

   }