{% extends 'base.html' %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
</head>
<body>
{% block content %}
<div class="container">
  <div class="index box">
    <p class="levelname">
        {{ title}}
    </p>
       <button type="button" class="btn btn-secondary">
      <a class="text-white" href={% url 'game:level' 1%}> {#  todo#}
          перейти в игру
        </a>
      </button>

  </div>
</div>
{% endblock %}
</body>
</html>