{% extends 'base.html' %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
       {{ title|title }}
    </title>
</head>
<body>
{% block content %}
    <div class="container">
  <div class="box">
    <div class="one">
        <div class="number"> Уровень {{ level.number }}</div>
        <div class="levelname">{{ level.name }}</div>
        <div class="task">{{ level.task }}</div>
        <div ><img class="levelimage" src="/media/{{ level.image }}"
         alt="{{level.name }}">
        </div>

    </div>
    <div class="two">
     <form class="form-horizontal" action="{% url 'game:level' pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-control" type="submit" value="мой ответ!">
    </form>
    <ul class="list-group">
    {% if last_user_answer %}
        <li class="list-group-item active">
            {{ last_user_answer }}
        </li>
        {% for answer in other_user_answer %}
            <li class="list-group-item">{{ answer }}</li>
        {% endfor %}
    {% endif %}
    </ul>
    </div>
  </div>
    <div>{{ test }} </div>
</div>
{% endblock %}
</body>
</html>